<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>產生的樂透號碼為：</h1>
    <h1>
    {% for random_num_list in random_num_lists %}
    <p>第{{ forloop.counter }}組：
        {%for random_num in random_num_list%}
            {{random_num}}
            {% if forloop.last == False %} 
            ,
            {% endif %}
        {%endfor%}
    </p>
    {% endfor %}
    </h1>
</body>
</html>