<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> 您好:{{ username }} </h1>
    <p><a href="http://www.google.com.tw">苦瓜的健康料理－苦瓜鑲肉</a></p>

    <ul type>
        <li>材料</li>
            <ol type="a">
                <li>苦瓜</li>
                <li>大白菜</li>
                <li>豬肉絞肉</li>
                <li>太白粉</li>
                <li>鹽</li>
            </ol>

        <li>做法</li>
            <ol type="1">
                <li>苦瓜橫切成數塊，然後將內膜和子去除乾淨，使其成中空圈狀。</li>
                <li>鹽漬數分鐘去除苦味。</li>
                <li>將豬肉絞肉鑲進中空圈狀的苦瓜中，然後沾少許太白粉水，使其黏固。</li>
                <li>用油煎熟，然後加入大白菜及少許水悶煮數分鐘即可。</li>
            </ol>
    </ul>


</body>
</html>